# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
build
design
scr/utils
run.bat
.env


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local



CRA-manual.md
API-keys.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
